.git
.render-tools
**/node_modules
**/dist
**/.next
**/coverage
**/.dart_tool
**/build
**/.gradle
**/.kotlin
**/.idea
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
